.building_types {
  width: 600px;
  height: 270px;
  margin: 0 auto;
  margin-top: 18px;
}
input#cal2, input#cal1 {
    width: 255px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border-width: thin;
}
.title {
  display: flex;
  justify-content: space-between;
}
.title h3{
  color: #888;
  font-size: 28px;
  margin-top: 17px;
}
.estimate_box{
  width: 600px;
  margin: 0 auto;
  margin-top: 18px;
}
/*radio 버튼*/
.estimate_box input[type=radio] {
  display: none;
}
.estimate_box input[type=radio]+label{
 	display: inline-block;
    cursor: pointer;
    height: 38px;
    width: 290px;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    padding-top: 7px;
    border-radius: 5px;
}

.estimate_box input[type=radio]+label{
  background-color: #fff;
  color:rgb(86, 84, 84);
}
.estimate_box input[type=radio]:checked+label{
  background-color: #333;
  color:#fff;
}
/*radio 버튼끝*/


.estimate_calculator {
  width: 600px;
  height: 140px;
  margin: 0 auto;
  margin-top: 60px;
}

.areaBoxComponent {
  width: 600px;
  height: 300px;
  margin: 0 auto;
}

/*공간선택 체크박스 */
.checkbox {
  appearance: none;
  float: left;
  height: 110px;
  width: 110px;
  background-color: #3085ED;
  /*background-size: 360% 100%;*/
  border: 1px solid rgb(130, 129, 129);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.checkbox:after {
  content: attr(data-name);
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  font-weight: bolder;
  color: #3f3f3f;
}
.checkbox:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0px;
  height: 200%;
  width: 200%;
  background: white;
  transition: all 0.2s linear;
  transform: scale(0.6) translate(-50%, -50%);
}
.checkbox:checked:before {
  opacity: 0;
  transform: scale(0.9);
}

.checkbox:checked:after {
  /*체크된후 폰트색 흰색*/
  color: white;
}

.checkbox:checked {
  box-shadow: 0px 4px 10px -6px black;
}
/* 체크박스 끝 */

/* 상세시공항목 버튼박스 */
.btn_line_detail label { /*버튼안 레이블*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 180px;
  height: 90px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
  font-size: 11px;
  color: #888;
  letter-spacing: -1px;
  word-break: keep-all;
  cursor: pointer;
}

/* 상세시공항목 버튼박스 */
ul{
  list-style:none;
}
.btn_line_detail [type="radio"]{ /*라디오버튼 없애기*/
  opacity: 0;
}
li{
  margin-right: 10px;
}

.section_detail_select{
	padding-bottom:20px;
	background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(244, 244, 242);
}

.detail_select{
  width: 600px;
  margin: 0 auto;
}

/*폰트*/
.detail_title{
	font-size: 18px;
    font-weight: bold;
    color: #222;
    padding-top: 60px;
    padding-bottom: 0;
}

.btn_line_detail label .h4 {
  color: #1d1d1d;
}
/*폰트끝*/

.btn_line_detail .select_detail__desc {
  margin-top: 10px;
}

.btn_line_detail span {
  width: 100%;
}

.btn_line_detail span.expect_price {
  display: block;
  margin-top: 2px;
}

.detail_item .h4 {
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
}

.detail_item .p {
  font-size: 13px;
  line-height: 16px;
  height: 32px;
  color: #333;
  font-weight: 400 !important;
  letter-spacing: -0.7px;
  word-break: keep-all;
}

.detail_item{
  display: flex;
}
.detail_item[input=checkbox]{
	opacity: 0;
}
input[type=checkbox]{
	appearance: none;
}

/* 상세시공항목 버튼박스 active 폰트 */
.btn_line_detail input:checked+label {
  border: 2px solid #3085ED;
  color: #3085ED
}

.btn_line_detail input:checked+label .h4 {
  color: #3085ED
}

.btn_line_detail[aria-selected=true] .h4 {
  font-weight: bold;
}
/* 상세시공항목 버튼박스 active 폰트 end */

/*다음 페이지 넘김 버튼*/
.nextpage{
  width: 600px;
  height: 100px;
  margin: 0 auto;
}
.nextpage button{
  background-color: rgb(235, 103, 3);
  color: #fff;
  margin-top: 5%;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: none;
}
.nextpage button:hover{
  cursor: pointer;
}
[type="button"].go_back{
  margin-top: 5%;
  width: 30%;
  height: 45px;
  border-radius: 10px;
  background-color: rgb(247, 226, 169);
  border:none;
}
[type="button"].go_next{
  margin-top: 5%;
  width: 69%;
  height: 45px;
  border-radius: 10px;
  background-color: rgb(235, 103, 3);
  border:none;
  color: white;
}
button.go_next {
  margin-top: 5%;
  width: 69%;
  height: 45px;
  border-radius: 10px;
  background-color: rgb(235, 103, 3);
  border:none;
  color: white;
}
/*2 페이지 css */
.estimate_yourcost {
  width: 600px;
  margin: 0 auto;
  margin-top: 18px;
}
input#est_start, input#est_end {
  width: 225px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  border-width: thin;
}
.estimate_date{
  width: 600px;
  height: 300px;
  margin: 0 auto;
}
.your_cost {
  float: left;
  display: flex;
}
#estimate_cost {
  width: 450px;
  height: 60px;
  margin-right: 20px;
  border-radius: 10px;
  border-width: thin;
}

/* 3페이지 css */
.estimate_step03{
  width: 600px;
  margin: 0 auto;
}
button#certify_phone, button#address_btn {
  height: 35px;
  background: #EB6703;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  padding-top: 2px;
}
button#certify_phone:hover, button#address_btn:hover{
  background: #444;
}
[type="file"]{
  margin-top: 10px;
  margin-left: 10px;
}
.para p{
  margin-left: 10px;
  margin-top: 20px;
  font-size:small;
}
.estimate_box_page3 input[type=text]{
  font-size: large;
  margin: 10px 10px 0px 10px;  /*아래 오른쪽 위 왼쪽*/
  height: 35px;
  width: 450px;
}
.para{
  display: flex;
}
.para p{
  margin-left: 10px;
  margin-top: 20px;
  font-size:small;
}
#paragraph{
  width: 550px;
  height: 250px;
}

/*4페이지*/
#p1 {
  text-align: center;
}
#p1 b{
  color:#27562b

}
#p1 b:hover{
  color:#eb6703;
  text-decoration: underline;
}
#msg2{
  margin:0 auto;
}
#li_01>img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.title {
  width: 600px;
  /* height: 100px; */
  margin: 0 auto;
  margin-top: 18px;
}

.companies{
  background-color: rgb(248, 246, 246);
}

#p1 {
  font-weight: bolder;
  font-size: larger;
  margin-top: 50px;
}

/* 5페이지 css */
#estimate_step05 {
  height: 900px;
}
.estimate_box_page5{
  width: 600px;
  margin: 0 auto;
  margin-top: 18px;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
  padding: 15px;
}
/*표 테이블*/
.left {
  font-weight: bold;
}
.right {
  float: left;
  display: flex;
}
tr.table{
  vertical-align: top;
  height: 50px;
}

/* COUNTERS */
.counters {
  background: url("/images/dozip/wallpaper01.png") no-repeat;
  background-size: cover;
  text-align:center;
}
.counters ul { display:inline-block;}
.counters ul li {width:170px; float:left; }

.counters ul li h3 {font-size:56px; margin:30px 0 20px; color:#fff;}
.counters ul li h4 {font-size:16px; margin-bottom:30px; color:black; font-family:"Montserrat", sans-serif; text-transform:uppercase; }
.counters ul li .bar {width:30px;height:2px; background:#fff; display:inline-block;}

