@charset "UTF-8";

/*.review_wrap {*/
/*	width: 100%;*/
/*	margin: 0 auto;*/
/*}*/

/*리뷰 메인 CSS*/

.review_write {
	height: 100px;
	width: 100%;
}

/* part1 */
.part1 {
	margin-top: 30px;
}
.review_write button {
	border: 0;
	border-radius: 5px;
	height: 40px;
	width: 180px;
	font-size: 1.0rem;
	background-color: #347844;
	color: white;
	float: right;
	font-weight: bold;
	margin-right: 40px;
}

#part1_title {
	font-size: 2.0rem;
	line-height: 70px;
	font-weight: bold;
	margin-left: 30px;
}

#part1_count {
	font-size: 1.1rem;
	line-height: 70px;
	float: right;
	font-weight: bold;
	margin-right: 30px;
}

/* 큰 리뷰 창 */
.big_review {
	padding: 20px 0;
	/* border: 1px solid; */
	display: flex;
	margin: 0 auto;
	margin-bottom: 50px;
	justify-content: space-between;
	background-color: #F8F8F8;
}

#big_img {
	width: 50%;
	margin-left: 20px;
}

.big_review_cont {
	width: 43%;
	margin-right: 20px;
	padding: 10px;
	height: 50%;
	margin-bottom: 0;

}

#review_title {
	font-size: 1.8rem;
	font-weight:bold;
	margin-top: 30px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

#review_cont {
	width: 550px;
	height: 190px;
	font-size: 0.8rem;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	margin-top: 30px;
}

#review_tag button {
	border: 0;
	border-radius: 70px;
	height: 20%;
	font-size: 0.8rem;
	margin-right: 5px;
	background-color: #cef3c5;
}

#review_info {
	font-size: 0.8rem;

}
#review_go {
	font-size: 1.2rem;
	font-weight: bold;
}
#review_go_box {
	text-align: right;
}

/* part2 */
* {
	box-sizing: border-box;
}

.card_inner {
	width: 100%;
	margin: 0;
	padding: 0;
}
.gallery {
	background: #F8F8F8;
	margin: 10px;
	float: left;
	width: 400px;
	height: 100%;
}

.images img {
	border-radius: 5px;
	width: 400px;
	height: auto;
	transition: opacity .3s ease-in-out;
	cursor: pointer;
}

.images img:hover {
	opacity: .75;

}
.card_title {
	height: 10%;
	font-weight: bold;
	text-align: center;
	width: 400px;
	padding: 5px;
}
.card_cont {
	text-align: center;
	width: 400px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	display:inline-block;
}



/*  리뷰 보기 페이지  */
.review_detail_wrap {
	margin-top: 30px;
}
.review_detail {
	width: 1000px;
	padding: 110px;
	border: 1px solid #ddd;
	margin: 0 auto;

}
.rp_img img{
	border-radius: 5px;
	width: 100%;
	height: 400px;
	object-fit: cover;
}
.review_img img{
	border-radius: 5px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.review_title {
	width: 100%;
	display: flow-root;
}

.re_title {
	float: left;
	font-weight: bold;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 0;
}

.review_info p {
	margin-top: 5px;
	font-size: small;
}
.review_info {
	margin-bottom: 50px;
}
.re_cont {
	width: 778px;
	height: 350px;
	background: #F8F8F8;
	padding: 20px;
	border: 0px;
	resize: none;
}


/* 리뷰작성페이지 */
.review_write_wrap {
	width: 95%;
	margin: 0 auto;
}

.review_guide {
	width: 90%;
	border-radius: 5px;
	border: 4px solid #dcdcdc;
	margin: 20px auto;
	padding: 8px;
}

.review_guide #r_guide {
	font-size: 1.3rem;
	margin-left: 40px;
	font-weight: bold;
}

.review_guide li {
	font-family: 'Malgun Gothic';
	line-height: 28px;
	font-size : 1.1rem;
}

.review_guide #cont_guide{
	padding-top : 10px;
	font-weight: bold;
	font-size : 1.3rem;
}

#cont_rguide{
	color : #0064CD;
	font-weight : bold;
}
.review_write_form {
	margin-top: 50px;
	width: 90%;
	margin: 0 auto;
}


.review_write_form #r_title {
	width: 20%;
	height: 30px;
	border-radius: 2px;
}

.cont_inform_c{
	display:flex;
	flex-direction: row;
}

.cont_inform_c input{
	width : 200px;
	height: 30px;
	border-radius: 2px;
	margin-right: 10px;
}

#load_btn,#search_cont_btn{
	width: 130px;
	height : 30px;
	border:none;
	background-color: #0A6EFF;
	color : white;
	border-radius: 2px;
}

#search_cont_btn{
	margin-left: 10px;
}

#onload_cont{
	margin-top: 20px;
}

#load_cont {
	height: 120px;
	display : flex;
	flex-wrap: wrap;
	flex-direction : row;
	justify-content: space-evenly;
	border: 3px solid #0A6EFF;
	border-radius: 3px;
	align-content: center;
}


#r_cont {
	width: 60%;
	height: 150px;
	resize: none;
	font-family: 'Malgun Gothic';
	border : 3px solid;
	border-radius: 3px;
}


.choice_group {
	width: 100px;
	height: 20px;
	border: 1px solid #747474;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: 'Malgun-Gothic';
	font-size: 14px;
	line-height: 50px;
}

.choice_group:focus {
	border: 1px solid #9B51E0;
	box-sizing: border-box;
	border-radius: 10px;
	outline: 3px solid #a7ee8e;
	border-radius: 10px;
}

/* 별점 */
#test {
	/*
	border: 2px solid;
	border-radius: 3px;*/
	width:12%;
	height: 30px;
}
.star-rating {
	display: flex;
	flex-direction: row-reverse;
	font-size: 1.3rem;
	line-height: 1.8rem;
	justify-content: space-around;
	padding: 0 0.2em;
	width: 5em;
	/* vertical-align: middle; 안먹힘 */
}

.star-rating input {
	display: none;
}

.star-rating label {
	-webkit-text-fill-color: transparent;
	/* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.5px;/* 2.3px; */
	-webkit-text-stroke-color: #2b2a29;
	cursor: pointer;
}

.star-rating :checked ~ label {
	-webkit-text-fill-color: gold;
}

.star-rating label:hover, .star-rating label:hover ~ label {
	-webkit-text-fill-color: #fff58c;
}

.star_area {
	display: flex;
}

.star_score {
	display: flex;
	font-size: 1.0rem;
	line-height: 1.5rem;
	justify-content: space-around;
	font-family: '여기어때 잘난체';
	margin-left: 5px;
}




#r_submit_btn {
	margin-left: 500px;
	margin-top: 20px;
	margin-bottom: 5px;
	border: 0;
	border-radius: 5px;
	font-size: 1.3rem;
	background-color: #0A6EFF;
	color: white;
	text-align: center;
	width: 20%;
	height: 40px;
	justify-content: center;
}

#btn_cell {
	text-align: center;
	height: 60px;
}