#estlist_title {width: 100%;font-size: 26px;font-weight: 530;border-bottom: 3px solid #000; margin: 5px 0px;}
#estlist_msg {color: darkslateblue; font-size: 16px;font-family:fantasy;margin:20px 0px 10px 13px;}
* {line-height: 1.4em;}
#estlist_top_cont {padding-bottom: 35px;letter-spacing: 1px;}
#est_list_explain {width: 98%;border-bottom: 4px double #555; padding: 10px 10px;margin: 0 auto;}
table#est_list_table {margin: 20px;border-collapse: collapse;}
table#est_list_table input[type=button] {background: none;border: none;font-size: 13px; cursor: pointer;}
table.est_list_table input:hover[type=button], .write_contract_btn:hover {text-decoration: underline;font-weight: bolder;color: blue;}

.write_contract_btn {background: none;border: none;font-size: 13px; cursor: pointer;}
.cancel_contract_btn {background: #FF0000;border: none;color: white;padding: 0px 6px;border-radius: 3px;height: 30px;width: 70px;}
.cancel_contract_btn:active {background: #2C2A29;}
table#est_list_table {margin: 20px auto;width: 100%;border-collapse: collapse;}
#est_list_table thead {background: cornflowerblue;}
#est_list_table th {padding: 7px 0px; font-size: 14px;}